---
import '~/styles/global.scss'
import Meta from '~/components/site/meta.astro'
---

<html lang="id">
  <head>
    <Meta />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
