---
import '@fontsource/lora'
import '@fontsource/lora/variable.css'
import '@fontsource/lora/variable-italic.css'
import '@fontsource/cabin'
import '@fontsource/cabin/variable.css'
import '@fontsource/cabin/variable-italic.css'

import '~/styles/global.scss'
import Meta from '~/components/site/meta.astro'
---

<html lang="id">
  <head>
    <Meta />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
