---
import BaseLayout from './base.astro'
import Header from '~/components/site/header'
---

<BaseLayout>
  <!--Head slot -->
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>

  <!--Main layout components -->
  <Header />
  <main class="main">
    <slot />
  </main>
</BaseLayout>

<style lang="scss">
  .main {
    @apply max-w-screen-xl mx-auto;
    @apply pt-[32px] px-4 mb-12;
  }
</style>
